<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Create Message">

    <form action="/user/add" method="post">
       <div class="form-group">
           <label>Username</label>
           <input type="text" name="id" class="form-control">
           <label>Password</label>
           <input type="password" name="password" class="form-control">
       </div>

        <button class="btn btn-primary" type="submit">
            Create account
        </button>
    </form>

</@layout.myLayout>